<div class="sidebar">
  <div class="container ">
    <div class="sidebar-about">
      <img src="{{ site.gh_baseurl }}public/img/Me.png">
      <h1>
        <a href="{{ site.gh_baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
<!--       <a class="sidebar-nav-item active" href="{{ site.gh_baseurl }}">Home</a> -->

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.navigation %}
      {% for node in pages_list %}
        {% if node.text != null %}
            <a class="sidebar-nav-item active" href="{{ node.url }}">{{ node.text }}</a>
        {% endif %}
      {% endfor %}
    </nav>

    <div class="icon-bar">
      <a href="https://github.com/exferro">
        <img src="{{ site.social_media_url }}/github.png" alt="GitHub" width="35"  height="35"/>
      </a>
      <a href="https://facebook.com/exferro">
        <img src="{{ site.social_media_url }}/facebook.png" alt="Facebook" width="35"  height="35" />
      </a>
      <a href="https://linkedin.com/in/exferro">
        <img src="{{ site.social_media_url }}/linkedin.png" alt="LinkedIn" width="35"  height="35"/>
      </a>
      <a href="https://vk.com/exferro">
        <img src="{{ site.social_media_url }}/vk.png" alt="VK" width="35"  height="35"/>
      </a>
    </div>
  </div>
</div>
