<div class="sidebar">
  <div class="container ">
    <div class="sidebar-about">
      <img src="{{ site.gh_baseurl }}public/img/Me.png" style="width: 13em; height: 13em">
      <h1>
        <a href="{{ site.gh_baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.navigation %}
      {% for node in pages_list %}
        {% if node.text != null %}
            <a class="sidebar-nav-item active" href="{{ node.url }}">{{ node.text }}</a>
        {% endif %}
      {% endfor %}
    </nav>

    <div class="icon-bar">
      {% assign social_media_links = site.social_media %}
      {% for social_media in social_media_links %}
        {% if social_media.img != null %}
          <a href="{{ social_media.url }}" class="fa fa-{{ social_media.icon }}"></a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
